In [1]:
import pandas as pd

In [37]:
df = pd.DataFrame({'name':['john','jill','john'], 'age':[1,2,3]})

In [38]:
df

   age  name
0    1  john
1    2  jill
2    3  john

In [5]:
len(df)

3

In [6]:
import random

In [15]:
rn = random.randint(0, len(df))

In [16]:
row = df.iloc[rn]

In [17]:
row

age        2
name    jill
Name: 1, dtype: object

In [18]:
row.age

2

In [40]:
from calendar import timegm
from time import strptime
import random
import numpy as np

In [30]:
cl = "2016-09-11 17:00:00"

In [31]:
timegm(strptime(cl, "%Y-%m-%d %H:%M:%S"))

1473613200

In [32]:
df.sample(n=2)

   age  name
1    2  jill
2    3  john

In [48]:
rows = np.random.randint(0, len(df)-1, size=2)
rows

array([1, 0])

In [53]:
sample_data = df.iloc[rows, :]

In [54]:
sample_data

   age  name
1    2  jill
0    1  john

In [59]:
for idx, row in sample_data.iterrows():
    print(row.age)

2
1

In [ ]:
for row in sample

In [57]:
type(sample_data)

pandas.core.frame.DataFrame